<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
</head>
<body>
   {{>navbar}}

   <!-- Main Header -->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class ="row">
            <!-- Left side div  -->
            <div class="col-md-6 col-12  main_header_right align-items-center">
              <figure>
               <img src="images/4041..webp" alt ="kartik" class="errimg" title="Kartik Tiwari">
              </figure>
           </div>
            <div class="col-md-6 col-12  main_header_left">
                {{!-- <p>Welcome to world weather App</p> --}}
                  
                  <h1>Oops! <span class="text_color"> Page </span> Not Found..</h1>
                  <a href="/" target="_kartik"><button>Go Back</button></a>
            </div>
            <!-- Right Side div  -->
           
        </div>
          </div>
          
         
    </div>
    </div>
   </div>

   <!-- footer code  -->
  {{>footer}}
</body>
</html>