<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
</head>
<body>
   {{>navbar}}

   <!-- Main Header -->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class ="row">
            <!-- Left side div  -->
            <div class="col-md-6 col-12  main_header_right align-items-center">
              <figure>
               <img src="images/about.jpg" alt ="kartik" class="img-fluid" title="Kartik Tiwari">
              </figure>
           </div>
            <div class="col-md-6 col-12  main_header_left">
                <p>Welcome to Weather App</p>
                  <h1>This is a <span class="txt_clr"> Weather </span> App which helps to get the temperature of your city</h1>
                  <a href="https://www.windy.com/?26.876,80.911,5" target="_kartik"><button>More..</button></a>
            </div>
            <!-- Right Side div  -->
           
        </div>
          </div>
          
         
    </div>
    </div>
   </div>

   <!-- footer code  -->
  {{>footer}}
</body>
</html>